.bold {
  font-weight: 700;
}

.tag {
  padding: 10px;
  background-color: var(--blue);
  border-radius: 30px;
  list-style-type: none;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  color: white;
}